{% extends "base.html.twig" %}

{% block title %}Historique du stock{% endblock %}

{% block body %}
<div class="container"><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantité ajoutée</th>
                <th>Date d'ajout</th>
            </tr>
        </thead>
        <tbody>
        {% for item in productAdded %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.qte }}</td>
                <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_product_index') }}">Retour aux produits</a>
</div>
{% endblock %}